Fails to find security.txt in root

As per [section 3 of RFC 9116](https://www.rfc-editor.org/rfc/rfc9116.html#name-location-of-the-securitytxt), the security.txt file might be placed at the top-level path, e.g. https://example.com/security.txt:

> For legacy compatibility, a "security.txt" file might be placed at the top-level path or redirect (as per [Section 6.4](https://www.rfc-editor.org/rfc/rfc7231#section-6.4) of [[RFC7231](https://www.rfc-editor.org/rfc/rfc9116.html#RFC7231)]) to the "security.txt" file under the "/.well-known/" path. If a "security.txt" file is present in both locations, the one in the "/.well-known/" path MUST be used.


Good catch, thanks!